<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<head th:replace="~{ fragments/app-head :: app-head('Recipes / Login') }"></head>
<body>
<header th:replace="~{ fragments/app-nav :: app-nav(${user}) }"></header>

<main>
    <div th:replace="~{ fragments/app-error :: app-error }" th:remove="tag"></div>

    <section class="form-container">
        <h2>Login</h2>
        <form action="/auth/login" method="POST" >
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password">

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/auth/register">Register here</a>.</p>
    </section>
</main>
<footer th:replace="~{ fragments/app-footer :: app-footer }"></footer>
</body>
</html>